Repository HS-Continuity/OrderService, pull requests merged in 2024-07, with the labels that each got.

#1 KAN-439 init: 정기배송상태 영속계층 구축
  src/main/java/com/yeonieum/orderservice/domain/regularorder/entity/RegularDeliveryStatus.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/entity/package-info.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryStatusRepository.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/package-info.java
  src/main/java/com/yeonieum/orderservice/global/converter/RegularDeliveryStatusCodeConverter.java
  src/main/java/com/yeonieum/orderservice/global/enums/RegularDeliveryStatusCode.java
Labels: PERSISTENCE

#4 KAN-444 init: 정기배송신청 영속계층 구축
  src/main/java/com/yeonieum/orderservice/domain/regularorder/entity/RegularDeliveryApplication.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/entity/RegularDeliveryApplicationDay.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/entity/RegularDeliveryReservation.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryApplicationRepository.java
Labels: PERSISTENCE

#5 KAN-445 init/주문서비스 상태값 영속계층 구축
  src/main/java/com/yeonieum/orderservice/domain/delivery/entity/DeliveryStatus.java
  src/main/java/com/yeonieum/orderservice/domain/delivery/entity/package-info.java
  src/main/java/com/yeonieum/orderservice/domain/delivery/repository/DeliveryStatusRepository.java
  src/main/java/com/yeonieum/orderservice/domain/delivery/repository/package-info.java
  src/main/java/com/yeonieum/orderservice/domain/order/entity/OrderStatus.java
  src/main/java/com/yeonieum/orderservice/domain/order/entity/package-info.java
  src/main/java/com/yeonieum/orderservice/domain/order/repository/OrderStatusRepository.java
  src/main/java/com/yeonieum/orderservice/domain/release/entity/ReleaseStatus.java
  src/main/java/com/yeonieum/orderservice/domain/release/repository/ReleaseStatusRepository.java
  src/main/java/com/yeonieum/orderservice/global/converter/DeliveryStatusCodeConverter.java
  src/main/java/com/yeonieum/orderservice/global/converter/OrderStatusCodeConverter.java
  src/main/java/com/yeonieum/orderservice/global/converter/ReleaseStatusCodeConverter.java
  src/main/java/com/yeonieum/orderservice/global/enums/DeliveryStatusCode.java
  src/main/java/com/yeonieum/orderservice/global/enums/OrderStatusCode.java
  src/main/java/com/yeonieum/orderservice/global/enums/ReleaseStatusCode.java
Labels: PERSISTENCE

#10 KAN-450 feat:주문 응답 및 요청 DTO 구현
  src/main/java/com/yeonieum/orderservice/domain/delivery/dto/request/OrderRequest.java
  src/main/java/com/yeonieum/orderservice/domain/delivery/dto/response/OrderResponse.java
Labels: DTO

#12 KAN-456 feat: 주문-주문조회서비스구현
  src/main/java/com/yeonieum/orderservice/domain/order/repository/OrderDetailRepository.java
  src/main/java/com/yeonieum/orderservice/domain/order/repository/OrderStatusRepository.java
  src/main/java/com/yeonieum/orderservice/domain/order/service/OrderTrackingService.java
Labels: SERVICE

#13 KAN-457 feat: 재고api호출을 위한 인프라 구축
  build.gradle
  src/main/java/com/yeonieum/orderservice/domain/productstock/entity/package-info.java
  src/main/java/com/yeonieum/orderservice/domain/productstock/repository/package-info.java
  src/main/java/com/yeonieum/orderservice/domain/productstock/request/StockUsageRequest.java
  src/main/java/com/yeonieum/orderservice/domain/productstock/response/StockUsageResponse.java
  src/main/java/com/yeonieum/orderservice/domain/productstock/service/package-info.java
  src/main/java/com/yeonieum/orderservice/global/code/code/ErrorCode.java
  src/main/java/com/yeonieum/orderservice/global/code/code/SuccessCode.java
  src/main/java/com/yeonieum/orderservice/global/responses/ApiResponse.java
  src/main/java/com/yeonieum/orderservice/infrastructure/feignclient/ProductServiceFeignClient.java
Labels: INFRASTRUCTURE

#14 KAN-458 feat: 주문-주문프로세스 서비스 구현
  src/main/java/com/yeonieum/orderservice/domain/delivery/repository/DeliveryStatusRepository.java
  src/main/java/com/yeonieum/orderservice/domain/order/repository/OrderDetailRepository.java
  src/main/java/com/yeonieum/orderservice/domain/order/service/OrderProcessService.java
  src/main/java/com/yeonieum/orderservice/domain/order/service/package-info.java
  src/main/java/com/yeonieum/orderservice/domain/productstock/request/StockUsageRequest.java
  src/main/java/com/yeonieum/orderservice/domain/release/repository/ReleaseStatusRepository.java
Labels: SERVICE

#15 KAN-460 feat: 정기주문 응답및요청 DTO 구현
  src/main/java/com/yeonieum/orderservice/domain/regularorder/dto/request/RegularOrderRequest.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/dto/response/RegularOrderResponse.java
Labels: DTO

#16 KAN-459 feat: 주문-주문상세 컨트롤러 구현
  build.gradle
  src/main/java/com/yeonieum/orderservice/global/responses/ApiResponse.java
  src/main/java/com/yeonieum/orderservice/global/responses/code/ErrorCode.java
  src/main/java/com/yeonieum/orderservice/global/responses/code/SuccessCode.java
  src/main/java/com/yeonieum/orderservice/web/controller/OrderDetailController.java
Labels: API

#17 KAN-461 feat: 정기주문서비스를 위한 feignclient 및 레포지토리 설정
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryApplicationRepository.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryReservationRepository.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryStatusRepository.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/service/package-info.java
  src/main/java/com/yeonieum/orderservice/infrastructure/feignclient/ProductServiceFeignClient.java
Labels: INFRASTRUCTURE

#18 KAN-462 feat: 정기주문-정기주문서비스 구현
  src/main/java/com/yeonieum/orderservice/domain/regularorder/service/RegularOrderService.java
Labels: SERVICE

#19 KAN-463 feat: 정기주문 컨트롤러 구현
  src/main/java/com/yeonieum/orderservice/web/controller/RegularOrderController.java
  src/main/resources/bootstrap.yml
Labels: API

#20 KAN-464 feat: 주문알림-레디스 메시지리스너 컨테이너 구성클래스 정의
  build.gradle
  src/main/java/com/yeonieum/orderservice/global/config/RedisConfig.java
Labels: INFRASTRUCTURE

#21 KAN-467 hotfix: 주문서비스-feignclient 재고사용API url수정 및 요청 객체 수정
  src/main/java/com/yeonieum/orderservice/OrderserviceApplication.java
  src/main/java/com/yeonieum/orderservice/domain/order/service/OrderProcessService.java
  src/main/java/com/yeonieum/orderservice/domain/productstock/request/StockUsageRequest.java
  src/main/java/com/yeonieum/orderservice/infrastructure/feignclient/ProductServiceFeignClient.java
Labels: bug, INFRASTRUCTURE

#22 KAN-465 feat: 주문알림-SSE emitter repository 구현[생성, 삭제, 조회]
  src/main/java/com/yeonieum/orderservice/infrastructure/sse/SseEmitterRepository.java
Labels: INFRASTRUCTURE

#23 KAN-466 feat: 주문알림 서비스구현
  src/main/java/com/yeonieum/orderservice/domain/notification/service/OrderNotificationService.java
  src/main/java/com/yeonieum/orderservice/domain/order/dto/response/OrderSummaryResponse.java
  src/main/java/com/yeonieum/orderservice/domain/order/repository/OrderDetailRepository.java
  src/main/java/com/yeonieum/orderservice/web/controller/OrderDetailController.java
  src/main/java/com/yeonieum/orderservice/web/controller/SseController.java
Labels: SERVICE

#24 KAN-468 feat: 정기주문 내역 월별 조회 구현
  build.gradle
  src/main/java/com/yeonieum/orderservice/domain/regularorder/dto/response/RegularOrderResponse.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/entity/RegularDeliveryApplication.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryReservationRepository.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryReservationRepositoryCustom.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/repository/RegularDeliveryReservationRepositoryCustomImpl.java
  src/main/java/com/yeonieum/orderservice/domain/regularorder/service/RegularOrderService.java
  src/main/java/com/yeonieum/orderservice/web/controller/RegularOrderController.java
Labels: SERVICE, API

#26 KAN-474 feat: 출고상태 정책클래스 구현
  src/main/java/com/yeonieum/orderservice/domain/release/policy/ReleaseStatusPolicy.java
Labels: POLICY

#27 KAN-477 feat: 주문 조회서비스 기능 구현
  src/main/java/com/yeonieum/orderservice/domain/order/dto/response/OrderResponse.java
  src/main/java/com/yeonieum/orderservice/domain/order/entity/OrderDetail.java
  src/main/java/com/yeonieum/orderservice/domain/order/service/OrderTrackingService.java
  src/main/java/com/yeonieum/orderservice/domain/release/service/package-info.java
  src/main/java/com/yeonieum/orderservice/infrastructure/feignclient/MemberServiceFeignClient.java
  src/main/java/com/yeonieum/orderservice/infrastructure/feignclient/ProductServiceFeignClient.java
Labels: enhancement

#94 KAN-679 refactor: 배송상태별 카운팅 조회 수정
  src/main/java/com/yeonieum/orderservice/domain/combinedpackaging/repository/PackagingRepository.java
  src/main/java/com/yeonieum/orderservice/domain/delivery/repository/DeliveryRepository.java
  src/main/java/com/yeonieum/orderservice/domain/delivery/service/DeliveryService.java
Labels: bug
